In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
match_stats_csv = "tennis_stats.csv"
match_stats_df = pd.read_csv(match_stats_csv)
match_stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,1991-7308-k181-l206,/en/scores/1991/7308/MS002/match-stats,01:20:00,80.0,3.0,0.0,0.0,65.0,29.0,...,7.0,19.0,2.0,2.0,11.0,11.0,24.0,65.0,61.0,134.0
1,0,1991-7308-k181-s351,/en/scores/1991/7308/MS001/match-stats,01:29:00,89.0,1.0,2.0,44.0,65.0,31.0,...,9.0,21.0,3.0,5.0,12.0,12.0,22.0,65.0,68.0,148.0
2,0,1991-7308-k181-s424,/en/scores/1991/7308/MS005/match-stats,00:55:00,55.0,0.0,1.0,17.0,36.0,11.0,...,6.0,19.0,2.0,3.0,8.0,7.0,12.0,36.0,32.0,90.0
3,0,1991-7308-a031-s331,/en/scores/1991/7308/MS013/match-stats,01:09:00,69.0,2.0,3.0,44.0,58.0,28.0,...,7.0,14.0,2.0,8.0,9.0,9.0,23.0,58.0,52.0,114.0
4,0,1991-7308-k030-w136,/en/scores/1991/7308/MS009/match-stats,01:29:00,89.0,6.0,3.0,37.0,71.0,25.0,...,15.0,34.0,2.0,3.0,10.0,10.0,27.0,71.0,59.0,135.0

In [5]:
new_match_stats_df = match_stats_df[['match_id', 'winner_first_serve_points_won', 'winner_first_serve_points_total', 'winner_second_serve_points_won', 'winner_second_serve_points_total', 'loser_first_serve_points_won', 'loser_first_serve_points_total','loser_second_serve_points_won', 'loser_second_serve_points_total', 'winner_break_points_converted', 'winner_break_points_return_total', 'loser_break_points_converted', 'loser_break_points_return_total']].copy()
new_match_stats_df.head()

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0

In [6]:
winner_first_serve_percentage = []
for x in range(len(new_match_stats_df.winner_first_serve_points_won)):
    winner_first_serve_percentage.append(new_match_stats_df.winner_first_serve_points_won[x]/new_match_stats_df.winner_first_serve_points_total[x])
new_match_stats_df['winner_first_serve_percentage'] = winner_first_serve_percentage
#new_match_stats_df.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
winner_second_serve_percentage = []
for x in range(len(new_match_stats_df.winner_first_serve_points_won)):
    winner_second_serve_percentage.append(new_match_stats_df.winner_second_serve_points_won[x]/new_match_stats_df.winner_second_serve_points_total[x])
new_match_stats_df['winner_second_serve_percentage'] = winner_second_serve_percentage
new_match_stats_df.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824

In [8]:
loser_first_serve_percentage = []
for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_first_serve_percentage.append(new_match_stats_df.loser_first_serve_points_won[x]/new_match_stats_df.loser_first_serve_points_total[x])
new_match_stats_df['loser_first_serve_percentage'] = loser_first_serve_percentage
#new_match_stats_df.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
loser_second_serve_percentage = []
for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_second_serve_percentage.append(new_match_stats_df.loser_second_serve_points_won[x]/new_match_stats_df.loser_second_serve_points_total[x])
new_match_stats_df['loser_second_serve_percentage'] = loser_second_serve_percentage
new_match_stats_df.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage,loser_first_serve_percentage,loser_second_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579,0.666667,0.393939
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429,0.659574,0.416667
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211,0.482759,0.240000
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000,0.708333,0.375000
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824,0.555556,0.428571

In [10]:
winner_break_point_percentage = []
for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    winner_break_point_percentage.append(new_match_stats_df.winner_break_points_converted[x]/new_match_stats_df.winner_break_points_return_total[x])
new_match_stats_df['winner_break_point_percentage'] = winner_break_point_percentage
new_match_stats_df.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage,loser_first_serve_percentage,loser_second_serve_percentage,winner_break_point_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579,0.666667,0.393939,0.571429
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429,0.659574,0.416667,0.571429
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211,0.482759,0.240000,0.700000
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000,0.708333,0.375000,0.555556
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824,0.555556,0.428571,0.500000

In [11]:
loser_break_point_percentage = []
for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_break_point_percentage.append(new_match_stats_df.loser_break_points_converted[x]/new_match_stats_df.loser_break_points_return_total[x])
new_match_stats_df['loser_break_point_percentage'] = loser_break_point_percentage
new_match_stats_df.columns.values

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

array(['match_id', 'winner_first_serve_points_won',
       'winner_first_serve_points_total',
       'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'winner_break_points_converted',
       'winner_break_points_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'winner_first_serve_percentage',
       'winner_second_serve_percentage', 'loser_first_serve_percentage',
       'loser_second_serve_percentage', 'winner_break_point_percentage',
       'loser_break_point_percentage'], dtype=object)

In [12]:
statsdf = new_match_stats_df[['match_id', 'winner_first_serve_points_won','winner_first_serve_points_total',
                              'winner_first_serve_percentage','winner_second_serve_points_won','winner_second_serve_points_total','winner_second_serve_percentage',
                              'loser_first_serve_points_won','loser_first_serve_points_total','loser_first_serve_percentage', 'loser_second_serve_points_won','loser_second_serve_points_total', 'loser_second_serve_percentage',
                              'winner_break_points_converted','winner_break_points_return_total',
                              'winner_break_point_percentage','loser_break_points_converted','loser_break_points_return_total',
                              'loser_break_point_percentage']]

statsdf['winner_first_serve_times100'] = statsdf['winner_first_serve_percentage']*100
statsdf['loser_first_serve_times100'] = statsdf['loser_first_serve_percentage']*100
statsdf['winner_second_serve_times100'] = statsdf['winner_second_serve_percentage']*100
statsdf['loser_second_serve_times100'] = statsdf['loser_second_serve_percentage']*100
statsdf['winner_bpp_times100'] = statsdf['winner_break_point_percentage']*100
statsdf['loser_bpp_times100'] = statsdf['loser_break_point_percentage']*100
statsdf.drop(columns=['winner_first_serve_percentage','loser_first_serve_percentage','winner_break_point_percentage',
                      'loser_break_point_percentage','winner_second_serve_percentage','loser_second_serve_percentage'], axis =1, inplace=True)

statsdf = statsdf.round(1)

statsdf = statsdf.astype(str)
#statsdf.head()
#statsdf.dtypes

statsdf['winner_first_serve_summary'] = statsdf['winner_first_serve_times100'] + '%' + ' ' + '(' + statsdf['winner_first_serve_points_won'] + '/' + statsdf['winner_first_serve_points_total'] + ')'
statsdf['loser_first_serve_summary'] = statsdf['loser_first_serve_times100'] + '%' + ' ' + '(' + statsdf['loser_first_serve_points_won'] + '/' + statsdf['loser_first_serve_points_total'] + ')'
statsdf['winner_second_serve_summary'] = statsdf['winner_second_serve_times100'] + '%' + ' ' + '(' + statsdf['winner_second_serve_points_won'] + '/' + statsdf['winner_second_serve_points_total'] + ')'
statsdf['loser_second_serve_summary'] = statsdf['loser_second_serve_times100'] + '%' + ' ' + '(' + statsdf['loser_second_serve_points_won'] + '/' + statsdf['loser_second_serve_points_total'] + ')'
statsdf['winner_break_points_summary'] = statsdf['winner_bpp_times100'] + '%' + ' ' + '(' + statsdf['winner_break_points_converted'] + '/' + statsdf['winner_break_points_return_total'] + ')'
statsdf['loser_break_points_summary'] = statsdf['loser_bpp_times100'] + '%' + ' ' + '(' + statsdf['loser_break_points_converted'] + '/' + statsdf['loser_break_points_return_total'] + ')'


statsdf.drop(columns=['winner_first_serve_points_won',
       'winner_first_serve_points_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total','winner_break_points_converted',
       'winner_break_points_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'winner_first_serve_times100',
       'loser_first_serve_times100','winner_second_serve_times100',
       'loser_second_serve_times100', 'winner_bpp_times100',
       'loser_bpp_times100'], axis = 1, inplace = True)

statsdf.head()

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\abiel\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,match_id,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary
0,1991-7308-k181-l206,63.0% (29.0/46.0),66.7% (24.0/36.0),63.2% (12.0/19.0),39.4% (13.0/33.0),57.1% (4.0/7.0),100.0% (2.0/2.0)
1,1991-7308-k181-s351,70.5% (31.0/44.0),66.0% (31.0/47.0),57.1% (12.0/21.0),41.7% (15.0/36.0),57.1% (4.0/7.0),60.0% (3.0/5.0)
2,1991-7308-k181-s424,64.7% (11.0/17.0),48.3% (14.0/29.0),68.4% (13.0/19.0),24.0% (6.0/25.0),70.0% (7.0/10.0),66.7% (2.0/3.0)
3,1991-7308-a031-s331,63.6% (28.0/44.0),70.8% (17.0/24.0),50.0% (7.0/14.0),37.5% (12.0/32.0),55.6% (5.0/9.0),25.0% (2.0/8.0)
4,1991-7308-k030-w136,67.6% (25.0/37.0),55.6% (20.0/36.0),55.9% (19.0/34.0),42.9% (12.0/28.0),50.0% (5.0/10.0),66.7% (2.0/3.0)

In [4]:
match_scores_csv = "tennis_scores.csv"
match_scores_df = pd.read_csv(match_scores_csv)
match_scores_df.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Finals,1,1,Nicklas Kulti,k181,nicklas-kulti,...,6,63 16 62,2,1,13,11,0,0,1991-7308-k181-s351,/en/scores/1991/7308/MS001/match-stats
1,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,1,Michael Stich,s351,michael-stich,...,2,64 76(6),2,0,13,10,1,0,1991-7308-s351-c243,/en/scores/1991/7308/MS003/match-stats
2,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,2,Nicklas Kulti,k181,nicklas-kulti,...,NaN,75 64,2,0,13,9,0,0,1991-7308-k181-l206,/en/scores/1991/7308/MS002/match-stats
3,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,1,Jim Courier,c243,jim-courier,...,Q,76(3) 63,2,0,13,9,1,0,1991-7308-c243-s367,/en/scores/1991/7308/MS007/match-stats
4,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,2,Michael Stich,s351,michael-stich,...,NaN,36 63 63,2,1,15,12,0,0,1991-7308-s351-a031,/en/scores/1991/7308/MS006/match-stats

In [9]:
new_match_scores_df = match_scores_df[['tourney_year_id','tourney_slug', 'match_id', 'winner_name', 'loser_name', 'match_score_tiebreaks']]
new_match_scores_df.rename(columns = {'match_score_tiebreaks' : 'match_score', 'tourney_slug':'tourney_name'}, inplace=True)
new = new_match_scores_df["tourney_year_id"].str.split("-", n = 1, expand = True)
new_match_scores_df["tourney_year"]= new[0]
new_match_scores_df["id"]= new[1]
new_match_scores_df.drop(['tourney_year_id', 'id'], axis = 1, inplace= True)
new_match_scores_df

C:\Users\emrey\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\emrey\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\emrey\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\emrey\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,tourney_name,match_id,winner_name,loser_name,match_score,tourney_year
0,adelaide,1991-7308-k181-s351,Nicklas Kulti,Michael Stich,63 16 62,1991
1,adelaide,1991-7308-s351-c243,Michael Stich,Jim Courier,64 76(6),1991
2,adelaide,1991-7308-k181-l206,Nicklas Kulti,Magnus Larsson,75 64,1991
3,adelaide,1991-7308-c243-s367,Jim Courier,Martin Sinner,76(3) 63,1991
4,adelaide,1991-7308-s351-a031,Michael Stich,Jimmy Arias,36 63 63,1991
5,adelaide,1991-7308-k181-s424,Nicklas Kulti,Fabrice Santoro,63 60,1991
6,adelaide,1991-7308-l206-k030,Magnus Larsson,Patrik Kuhnen,76(6) 36 63,1991
7,adelaide,1991-7308-c243-h223,Jim Courier,Paul Haarhuis,64 64,1991
8,adelaide,1991-7308-k181-g182,Nicklas Kulti,Magnus Gustafsson,46 61 61,1991
9,adelaide,1991-7308-s351-b051,Michael Stich,Gilad Bloom,75 61,1991
10,adelaide,1991-7308-k030-w136,Patrik Kuhnen,Todd Woodbridge,75 62,1991
11,adelaide,1991-7308-a031-s331,Jimmy Arias,Jason Stoltenberg,62 64,1991
12,adelaide,1991-7308-l206-z006,Magnus Larsson,Slobodan Zivojinovic,76(5) 76(8),1991
13,adelaide,1991-7308-s424-r023,Fabrice Santoro,Udo Riglewski,76(4) 75,1991
14,adelaide,1991-7308-s367-w035,Martin Sinner,Mark Woodforde,46 63 64,1991
15,adelaide,1991-7308-l206-b028,Magnus Larsson,Boris Becker,64 36 76(2),1991
16,adelaide,1991-7308-c243-m093,Jim Courier,Alexander Mronz,36 62 61,1991
17,adelaide,1991-7308-a031-s055,Jimmy Arias,Horst Skoff,76(4) 30 (RET),1991
18,adelaide,1991-7308-r023-b350,Udo Riglewski,Sergi Bruguera,75 63,1991
19,adelaide,1991-7308-g182-f028,Magnus Gustafsson,John Fitzgerald,62 63,1991
20,adelaide,1991-7308-s351-f031,Michael Stich,Jean-Philippe Fleurian,64 64,1991
21,adelaide,1991-7308-w035-k016,Mark Woodforde,Mark Koevermans,62 76(2),1991
22,adelaide,1991-7308-w136-r186,Todd Woodbridge,Guillaume Raoux,76(2) 61,1991
23,adelaide,1991-7308-b051-s443,Gilad Bloom,Sandon Stolle,67(4) 76(5) 64,1991
24,adelaide,1991-7308-h223-p014,Paul Haarhuis,Brad Pearce,61 36 62,1991
25,adelaide,1991-7308-k030-p004,Patrik Kuhnen,Veli Paloheimo,60 64,1991
26,adelaide,1991-7308-k181-r193,Nicklas Kulti,Aki Rahunen,64 60,1991
27,adelaide,1991-7308-s424-c028,Fabrice Santoro,Thierry Champion,62 63,1991
28,adelaide,1991-7308-s367-j008,Martin Sinner,Eric Jelen,63 76(1),1991
29,adelaide,1991-7308-s331-e106,Jason Stoltenberg,Jacco Eltingh,63 64,1991
...,...,...,...,...,...,...
95329,paris,2016-352-sa93-r685,Andreas Seppi,Lukas Rosol,61 64,2016
95330,paris,2016-352-h996-h940,Pierre-Hugues Herbert,Ryan Harrison,62 10 (RET),2016
95331,paris,2016-352-sl28-a829,Jan-Lennard Struff,Radu Albot,64 62,2016
95332,paris,2016-352-h996-y061,Pierre-Hugues Herbert,Mikhail Youzhny,46 62 62,2016
95333,paris,2016-352-j267-hb64,Malek Jaziri,Quentin Halys,57 76(1) 64,2016
95334,paris,2016-352-h756-lc11,Robin Haase,Tristan Lamasine,64 64,2016
95335,paris,2016-352-ba65-d923,Dustin Brown,Damir Dzumhur,76(5) 64,2016
95336,paris,2016-352-h940-fb98,Ryan Harrison,Taylor Fritz,76(4) 46 63,2016
95337,paris,2016-352-l987-me31,Dusan Lajovic,Vincent Millot,46 64 75,2016
95338,paris,2016-352-bg23-ca33,Nikoloz Basilashvili,Inigo Cervantes,60 46 64,2016
95339,paris,2016-352-a829-pg32,Radu Albot,Adam Pavlasek,63 62,2016
95340,paris,2016-352-sa93-be90,Andreas Seppi,Ricardas Berankis,63 62,2016
95341,paris,2016-352-b747-se73,Julien Benneteau,Yuichi Sugita,61 46 61,2016
95342,paris,2016-352-r685-pd07,Lukas Rosol,Vasek Pospisil,76(5) 46 76(7),2016
95343,paris,2016-352-sl28-c582,Jan-Lennard Struff,Marco Chiudinelli,75 62,2016
95344,nitto-atp-finals,2016-605-mc10-d643,Andy Murray,Novak Djokovic,63 64,2016
95345,nitto-atp-finals,2016-605-mc10-r975,Andy Murray,Milos Raonic,57 76(5) 76(9),2016
95346,nitto-atp-finals,2016-605-d643-n552,Novak Djokovic,Kei Nishikori,61 61,2016
95347,nitto-atp-finals,2016-605-mc10-w367,Andy Murray,Stan Wawrinka,64 62,2016
95348,nitto-atp-finals,2016-605-c977-n552,Marin Cilic,Kei Nishikori,36 62 63,2016
95349,nitto-atp-finals,2016-605-d643-gb88,Novak Djokovic,David Goffin,61 62,2016
95350,nitto-atp-finals,2016-605-r975-tb69,Milos Raonic,Dominic Thiem,76(5) 63,2016
95351,nitto-atp-finals,2016-605-mc10-n552,Andy Murray,Kei Nishikori,67(9) 64 64,2016
95352,nitto-atp-finals,2016-605-w367-c977,Stan Wawrinka,Marin Cilic,76(3) 76(3),2016
95353,nitto-atp-finals,2016-605-d643-r975,Novak Djokovic,Milos Raonic,76(6) 76(5),2016
95354,nitto-atp-finals,2016-605-tb69-mc65,Dominic Thiem,Gael Monfils,63 16 64,2016
95355,nitto-atp-finals,2016-605-mc10-c977,Andy Murray,Marin Cilic,63 62,2016
95356,nitto-atp-finals,2016-605-n552-w367,Kei Nishikori,Stan Wawrinka,62 63,2016
95357,nitto-atp-finals,2016-605-d643-tb69,Novak Djokovic,Dominic Thiem,67(10) 60 62,2016
95358,nitto-atp-finals,2016-605-r975-mc65,Milos Raonic,Gael Monfils,63 64,2016

In [17]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Tennis"
tennis_engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
tennis_engine.table_names()

['tennis_scores', 'tennis_statistics']

In [21]:
statsdf.to_sql(name='tennis_statistics', con=tennis_engine, if_exists='append', index=False)

In [22]:
new_match_scores_df.to_sql(name='tennis_scores', con=tennis_engine, if_exists='append', index=False)

In [23]:
 pd.read_sql_query('select * from tennis_statistics', con=tennis_engine).head()

,match_id,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary
0,1991-7308-k181-l206,63.0% (29.0/46.0),66.7% (24.0/36.0),63.2% (12.0/19.0),39.4% (13.0/33.0),57.1% (4.0/7.0),100.0% (2.0/2.0)
1,1991-7308-k181-s351,70.5% (31.0/44.0),66.0% (31.0/47.0),57.1% (12.0/21.0),41.7% (15.0/36.0),57.1% (4.0/7.0),60.0% (3.0/5.0)
2,1991-7308-k181-s424,64.7% (11.0/17.0),48.3% (14.0/29.0),68.4% (13.0/19.0),24.0% (6.0/25.0),70.0% (7.0/10.0),66.7% (2.0/3.0)
3,1991-7308-a031-s331,63.6% (28.0/44.0),70.8% (17.0/24.0),50.0% (7.0/14.0),37.5% (12.0/32.0),55.6% (5.0/9.0),25.0% (2.0/8.0)
4,1991-7308-k030-w136,67.6% (25.0/37.0),55.6% (20.0/36.0),55.9% (19.0/34.0),42.9% (12.0/28.0),50.0% (5.0/10.0),66.7% (2.0/3.0)

In [24]:
 pd.read_sql_query('select * from tennis_scores', con=tennis_engine).head()

              match_id    winner_name      loser_name match_score
0  1991-7308-k181-s351  Nicklas Kulti   Michael Stich    63 16 62
1  1991-7308-s351-c243  Michael Stich     Jim Courier    64 76(6)
2  1991-7308-k181-l206  Nicklas Kulti  Magnus Larsson       75 64
3  1991-7308-c243-s367    Jim Courier   Martin Sinner    76(3) 63
4  1991-7308-s351-a031  Michael Stich     Jimmy Arias    36 63 63

In [25]:
 pd.read_sql_query('select * from tennis_analysis', con=tennis_engine).head()

,winner_name,loser_name,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary,match_score
0,Jim Courier,Paul Haarhuis,64.9% (24.0/37.0),58.3% (21.0/36.0),77.8% (14.0/18.0),50.0% (14.0/28.0),40.0% (4.0/10.0),50.0% (2.0/4.0),64 64
1,Fabrice Santoro,Udo Riglewski,73.5% (36.0/49.0),65.3% (32.0/49.0),50.0% (19.0/38.0),51.5% (17.0/33.0),30.0% (3.0/10.0),66.7% (2.0/3.0),76(4) 75
2,Jimmy Arias,Horst Skoff,61.9% (26.0/42.0),53.6% (15.0/28.0),61.9% (13.0/21.0),42.1% (8.0/19.0),60.0% (3.0/5.0),33.3% (2.0/6.0),76(4) 30 (RET)
3,Jim Courier,Alexander Mronz,79.2% (38.0/48.0),70.6% (36.0/51.0),55.0% (11.0/20.0),34.2% (13.0/38.0),26.7% (4.0/15.0),50.0% (1.0/2.0),36 62 61
4,Todd Woodbridge,Guillaume Raoux,75.0% (30.0/40.0),66.7% (30.0/45.0),70.0% (14.0/20.0),37.9% (11.0/29.0),37.5% (3.0/8.0),nan% (0.0/0.0),76(2) 61